language: generic
if: branch = master

services:
  - docker

before_install:
  - docker build -t sdk-generator .
  - CID=`docker run -d -ti --rm sdk-generator:latest`
  - docker cp $CID:/opt/node-sdk/dist ./dist
  - docker kill $CID

script:
  - git config user.email tech.api.team@shutterstock.com
  - git config user.name shutterbot
  - git clone https://$GH_USER:$GH_PASS@github.com/shutterstock/public-api-javascript-sdk.git
  - cp -r ./dist/src ./public-api-javascript-sdk
  - cp ./dist/package.json ./public-api-javascript-sdk
  - cp ./dist/README.md ./public-api-javascript-sdk
  - sed -i 's/\[\[String\]\](String.md)/[String]/g' ./dist/docs/*.md
  - cp -r ./dist/docs ./public-api-javascript-sdk
  - cd ./public-api-javascript-sdk
  - nvm install 10
  - nvm use 10
  - yarn install
  - yarn run lint || travis_terminate 1;
  - yarn run test || travis_terminate 1;
  - git add .
  - git commit --allow-empty -m "Updating JavaScript SDK"
  - git push
  - git checkout gh-pages
  - cp -r ../build/jekyll/* .
  - cp ../dist/README.md .
  - cp -r ../dist/docs .
  - node ./scripts/fix-readme.js
  - node ./scripts/add-front-matter.js
  - git add .
  - git commit --allow-empty -m "Updating JavaScript SDK documentation site"
  - git push
